body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header{
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: 100%;
  height: 25px;
  z-index: 1;
}

.left_area h3{
  color:#fff;
  margin: 0;
  font-size: 18px;
  font-weight: 900;
}

.right_area h3{
  color:#fff;
  margin-left:700px;
  margin-top: -30px;
  font-size: 25px;
  font-weight: 700;
}



.sidebar {
  background: #525676;
  margin-top: 0px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.15s;
  transition-property: left;
}

 .sidebar .wrapper{
  margin-top: 70px;
 
} 


.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.272s;
  transition-property: background;
  transition-property: font-size;
}

.sidebar a:hover{
  background: #5897DE;
 
}

.sidebar a:hover{
  font-size: 19px;
 
}

.sidebar i{
  padding-right: 10px;
}


.content{
 
  position: fixed;;
  margin-top: 65px;
  margin-left: 250px;
  height:100%;
  width: 100%;
  background-color: #DCE6E6;
  font-size: 16px;

}


                       
